importFrom("graphics", "plot")
importFrom("MASS", 'ginv')
importFrom('expm', 'sqrtm')
export('FHme')
exportClasses('FHme', 'summary.FHme')
S3method(print, FHme)
S3method(plot, FHme)
S3method(print, summary.FHme)
S3method(summary, FHme)
